* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #e2c09a;
}

.box-degrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #e2c09a, rgb(199, 97, 12));
    width: 100%;
    padding: 20px 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100px;
    margin-top: 10px;
}

.logo-sol {
    width: 500px;
}

.links {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.links-serviços {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.links-serviços:hover::after {
    text-shadow: 0.1em 0.1em 0.1em rgb(199, 97, 12);
    white-space: nowrap;
    transition: opacity 0.5s;
    pointer-events: none;
    content: "AGENDAR";
    opacity: 1;

}

.links-buttons {
    position: relative;
    cursor: pointer;
    width: 120px;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    text-align: center;
    transition: color 0.3s;
    font-size: 25px;
}

.links-buttons:hover {
    color: rgb(199, 97, 12);
}

button span {
    position: absolute;
    background: rgb(199, 97, 12);
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 0.2px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}

.services-dropdown {
    position: relative;
    display: inline-block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #ffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 10px;
    margin: 0;
    top: 100%;
    width: 150%;
    border-radius: 15px;
    width: 240px;
}

.submenu li {
    padding: 8px 12px;
}

.submenu li a {
    text-decoration: none;
    color: #333;
    transition: .5s;
    /* cursor: pointer; */

}

.submenu li a:hover {
    color: rgb(199, 97, 12);
    text-decoration: underline;
}

.services-dropdown:hover .submenu {
    display: block;
    /* cursor: pointer; */
}

.submenu li:hover {
    /* background-color: #f1f1f1; */
    background-color: transparent;

}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */

}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100vh;
    max-width: 450px;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    /* cursor: pointer; */
    border-radius: 5px;
    margin-top: 30px;
}

/* Estilos para o carrossel */
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Garante que nada saia da área visível */
}

#carousel-image {
    width: auto;
    height: auto;
    max-width: 100%;
    /* Limita a largura ao tamanho do modal */
    max-height: 80vh;
    /* Limita a altura para caber na tela, mantendo a proporção */
    object-fit: contain;
    /* Garante que a imagem fique dentro do contêiner sem cortes */
    border-radius: 8px;
    border: 1px solid #ccc;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Centraliza verticalmente */
    padding: 15px;
    color: white;
    font-weight: initial;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
    background-color: transparent;
    border-radius: 50%;
}

.prev {
    left: 8px;
    /* Move a seta para fora do contorno da imagem */
    color: rgb(199, 97, 12);
}

.next {
    right: 8px;
    /* Move a seta para fora do contorno da imagem */
    color: rgb(199, 97, 12);
}

.prev:hover,
.next:hover {
    /* background-color: rgba(196, 190, 190, 0.8); */
    font-size: 40px;
}

.close {
    position: relative;
    cursor: pointer;
    font-size: 30px;
    color: black;
    transition: 0.6s ease;
}

.close:hover {
    color: rgb(199, 97, 12)
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 48%;
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.sliders-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 50px 40px;
    /* Aumentado o margin-top */
    margin-top: 150px;
    font-style: oblique;
}

.content {
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 15px;
    font-style: oblique;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.navigation-arrows {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
}

.arrow {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 8px;
    border-radius: 50%;
    transition: 0.6s ease;
}

.arrow:hover {
    /* background: rgba(0, 0, 0, 0.8); */
    width: 30px;
    color: rgb(199, 97, 12);
    font-size: 40px;
}

.Sol {
    width: 500px;
    margin-top: 20px;
    margin-right: 100px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

h5 {
    font-size: 30px;
    font-style: oblique;
    margin-left: 30px;
}

.coment {
    font-size: 20px;
    margin-left: 100px;
}

h1 {
    text-align: center;
    font-size: 24px;
}

details {
    margin: 20px 0;
}

summary {
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

details[open] summary::after {
    content: "▲";
    margin-left: 10px;
    font-size: 12px;
}

summary::after {
    content: "▼";
    margin-left: 10px;
    font-size: 12px;
}

.observação {
    margin-left: 20px;
    font-size: 20px;
}

.perguntas {
    height: 620px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid rgb(199, 97, 12);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    background-color: rgb(199, 97, 12);
}

.titulo-perguntas {
    margin-bottom: 100px;
}

.confiança {
    background: rgb(199, 97, 12);
    margin-top: 150px;
    height: 700px;
    text-align: center;
    font-size: 50px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    font-style: oblique;
}

#img-calificaçoes {
    width: 200px;
    height: 200px;

}

.calificações {
    margin-top: 8px;
    width: 280px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;

}
/* 
.pergunta-resposta {
    font-size: 20px;
    font-style: oblique;
} */

/* //--------------novo codigo--------------------------// */
details summary {
    list-style: none;
    /* Remove o estilo da lista */
}

details[open] summary::before,
/* Remove a seta quando o details estiver aberto */
details summary::before {
    content: '';
    /* Remove a seta */
}

/* Estilização adicional opcional para melhorar o visual */
summary {
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    background: rgb(199, 97, 12);
    
}

details p {
    margin: -15px 5px;
    padding: 10px;
    border-radius: 5px;
}

/* //------------novo codigo------------------------// */

.title-facilidade {
    text-align: center;
    margin-top: 200px;
    font-style: oblique;
    
}

.ventagens-container {
    background: rgb(199, 97, 12);
    margin-top: 100px;
    height: 320px;
    width: 1000px;
    text-align: center;
    margin: 100px auto;
    font-size: 50px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    border-radius: 5px;
}

.ventagens {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    
}

.ventagens-img {
    margin-top: -50px;
    height: 120px;
}

.ventagens-paragrafo {
    font-size: 15px;
    margin-top: -15px;
}

.button-mais-informaçoes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mais-informações-link {
    background: rgb(199, 97, 12);
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    cursor: pointer;
    transition: .5s;
}

.mais-informações-link:hover {
    color: white;


}

.procedimentos {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto 5px auto;
}

.localization {
    display: flex;
    margin: 30px auto 0 auto;
}

.localization-2 {
    text-align: center;
    margin-top: 150px;
}

footer {
    background-color: rgb(32, 30, 30);
    color: #fff;
    text-align: center;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .box-degrade {
        padding: 10px;
    }

    .logo-container {
        margin-top: 10px;
    }

    .logo-sol {
        width: 250px;
        /* Reduz o tamanho do logo para caber melhor em telas pequenas */
    }

    .links {
        flex-direction: column;
        gap: 20px;
        /* Diminui o espaço entre os links */
    }

    .sliders-container {
        flex-direction: column;
        gap: 30px;
        /* Ajusta o espaço entre os sliders para caber em uma coluna */
    }

    .slider-container {
        width: 100%;
    }

    .coment {
        position: relative;
        padding: 10px;
        font-size: 14px;
        /* Diminui o tamanho da fonte para dispositivos móveis */
    }

    .Sol {
        width: 100%;
        /* Ajusta a imagem para caber na tela */
        height: auto;
    }

    .container-confiança {
        flex-direction: column;
        gap: 20px;
        /* Ajusta a disposição dos elementos para uma única coluna */
    }

    .calificações {
        text-align: center;
        padding: 10px;
    }

    .titulo-perguntas {
        font-size: 18px;
        /* Reduz o tamanho do título */
    }

    .pergunta-resposta {
        font-size: 16px;
        /* Ajusta o tamanho da fonte para perguntas e respostas */
    }

    .ventagens-container {
        padding: 10px;
    }

    .ventagens {
        flex-direction: column;
        gap: 20px;
        /* Coloca as vantagens em uma única coluna */
    }

    .ventagens-img {
        width: 50px;
        /* Reduz o tamanho das imagens */
    }

    .ventagens-paragrafo {
        font-size: 14px;
        /* Ajusta o tamanho da fonte */
    }

    .localization-2 {
        padding: 10px;
    }

    .localization {
        width: 100%;
        height: 250px;
        /* Ajusta a altura do mapa para caber melhor em telas pequenas */
    }

    footer {
        padding: 10px;
        text-align: center;
        font-size: 12px;
        /* Ajusta o tamanho da fonte no rodapé */
    }
}